.bg-image {
    background-image: url('https://cdn.shopify.com/s/files/1/0279/1112/7139/files/banner_a10eccef-1235-4536-bb29-3ff10dc32a7c.jpg?v=1655271111');
    height: 98%;
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.top-main-nav {
    background-color: #00000018;
}

.border-end {
    height: 1.9rem;
}
.hero-btns{
    padding: 1.5rem 0 0.5rem;
}
.vertical-line {
    border-right: 0.01rem solid rgba(0, 0, 0, 0.189);
    height: 1.8em;
}

nav li select {
    display: none;
    display: block;
}


.hero-heading-1{
    font-size: 2.53rem;
}
.hero-heading-2 {
    font-size: 5rem;
    font-family: 'Abril Fatface', cursive;
}
.hero-btn-1{
    border-radius: 30px !important;
    color: #d24a8a !important;
    background-color: #fff !important;
    box-shadow: 0 2px 0px 1px #c9c6c6;
}
.hero-btn-2{
    border-width: 2px !important;
    border-radius: 30px !important;
    background-color: transparent !important;
    color: #fff !important;
}
.bg-yellow{
    background: #EDB551;
    width: 85%;
    position: absolute;
    height: 92%;
    top: 4px;
    left: 10px;
    z-index: 1;
    /* opacity: 1!important; */
    transform: rotate(-3deg);

}
.arrow-size{
    font-size: 2.5rem !important;
}
.owl-prev {
  position: absolute;
  top: 35%;
  left: 0;
  background-color: transparent;
}
.owl-next {
    background-color: transparent;
  position: absolute;
  top: 35%;
  right: 0;
}
/* .owl-prev:hover,
.owl-next:hover {
  background-color: transparent;
  color: inherit;
} */
.heading-bg{
    background-color:rgb(164, 230, 230);
    width: 60%;
    position: absolute;
    height: 90%;
    top: 4px;
    left: 230px;
    z-index: 0;
    opacity: 0.4!important;
}
.btn-1:hover{
    color: black !important;
}
.purple-container{
    background-color: #654da5;
    position: absolute;
    width: 100%;
    
}
.mobil-img{
    position: relative;
    top: -245px;
    transition: all 0.5s ease;
}
.btn-2{
    position: absolute;
    top: 35%;
    transition: all 2s ease;
}
.bag{
    border: 2px solid white;
    min-width: 3rem;
    height: 3rem;
    border-radius: 100%;
}
.navbar-toggler-icon {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
    font-weight: bold !important;
}
.option-bg{
    background-image: url('https://cdn.shopify.com/s/files/1/0279/1112/7139/files/Rectangle3.png');
    background-repeat: no-repeat;
    background-size: 70px 10px;
    background-position: bottom left;
}

.heading-3{
    position: relative;
    color: black;
    z-index: 2;
    font-size: 4rem !important;
    font-family: 'Abril Fatface', cursive;
}
 
.pics-marg{
    margin-left: 14% !important;
}
.sub-width{
    border-radius: 50px !important;
    padding: 1% 8% 2% !important;
    background-color: #edb551 !important;
}
.search-wdith{
    width: 59%;
}
.heading-bg-2{
    background: #EDB551;
    width: 60%;
    position: absolute;
    height: 3.7rem;
    top: 4px;
    left: 20%;
    z-index: 1;
    opacity: 1!important;
}
.mid-bg{
    background-image: url('https://cdn.shopify.com/s/files/1/0279/1112/7139/files/tesimonial-pink-bg.png?v=1654687338');
    height: 170vh;
    width: 100%;
    background-position:center;
    background-size: cover;
}
.footer-a{
    font-size: 0.9rem;
}
.social-hov:hover{
    background-color:#EDB551 !important;
}
.social-hov:hover .social-ico{
    color: white !important;
}
.mobil-head{
    font-size: 3.5rem;
    font-family: 'Abril Fatface', cursive;
}
.mobil-text{
    font-size: 1.2rem;
}
.main-heading-4{
    font-size: 4rem !important;
    position: relative;
    z-index: 2;
    opacity: 0.8!important;
}
.col-styl-top{
    margin: 14rem 0 0 0;
}
.cart-border{
    font-size: 30px; 
    border: 2px solid white; 
    border-radius: 50%;
    padding: 0.1rem 0.75rem;
}

@media screen and (max-width:1200px){
    .heading-3{
        font-size: 3rem !important;
    }
    .hero-container{
        width: 100% !important;
    }
}

/* LARGE SIZE */
@media screen and (max-width:1000px){
    .heading-3{
        font-size: 2.5rem !important;
    }
    .logo{
        width: 6rem !important;
    }
    .hero-heading-2{
        font-size: 2rem;
    }
    
    .mobil-img{
        top: -260px;
    } 
    .heading-bg-2{
        width: 80% !important;
        left: 10% !important;
    }
    .mobil-img{
        top: -180px;
    } 
}  

/* MEDIUM SIZE */
@media screen and (max-width: 770px) {
    .heading {
      font-size: 1.5rem !important;
    }
    .heading-bg{
        width: 100% !important;
        left: 0 !important;
        height: 70% !important;
    }
    .mobil-img{
        top: -130px;
    }   
    .heading-bg-2{
        width: 100% !important;
        left: 0% !important;
        top: 40% !important;
    } 
    .top-nav{
        display: none !important;
    }
    
    .hero-container{
        padding-top: 10px;
    }
    .search-bar{
        display: none !important;
    }
    .bag{
        border: none !important;
    }
    .btn-2{
        top: 15%;
    } 
    .mobil-img{
        top: -75px;
    } 
    .card-marg{
        margin: 2rem 0 !important;
    }
    .img-text{
        font-size: 0.9rem !important;
    } 
}

/* Small Size */
@media screen and (max-width:576px){
    .cart-border{
        font-size: 1.4rem; 
        border: none; 
        padding:0;
    }
    .ASO{
        font-size: 1.9rem;
    }
    .hero-heading-1{
        font-size: 1.53rem;
    }
    .hero-btn-2{
        background-color: #fff !important;
        color: #d24a8a !important;
        box-shadow: 0 2px 0px 1px #c9c6c6;
    }
    .hero-btns{
        padding: 0rem 0 1.5rem;
    }
    
    .bg-yellow{
        width: 96% !important;
        /* height: 100% !important; */
    }
    .heading-3{
        font-size: 2.25rem !important;
    }
    .heading-4{
        padding: 0 !important;
    }
    .btn-1{
        font-size: 13px !important;
    }
    .owl-prev {
        top: -12% !important;
        left: 70% !important;
      }
      .owl-next {
        top: -12%  !important;
        right: 2% !important;
      }
      .heading-bg{
        width: 100% !important;
        left: 0 !important;
        top: 20% !important;
        height: 60% !important;
    }
    .main-heading-4{
        font-size: 3.5rem !important;
    }
    .search-wdith{
        width: 100% !important;
    }
    .mobil-head{
        font-size: 1.5rem !important;
    }
    .mobil-text{
        font-size: 0.9rem;
    }
    .sub-width{
        border-radius: 50px !important;
        padding: 1% 14% 2% !important;
        background-color: #edb551 !important;
    }
}



@font-face {
    font-family: 'MyFont';
    src: url('font/QlassikBold_TB.otf') format('otf'),
         url('font/ffonts.net.htm') format('htm'),
         url('font/QlassikBold_TB.ttf') format('truetype');
}
  

